<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Link para o CSS compartilhado -->
</head>
<body>
    <h1>Perfil do Usuário</h1>
    <div class="usuario-page">
        <div class="form">
            <h2>Informações Cadastradas</h2>
                <div class="user-info">
                    <!-- Nome completo -->
                    <p><strong>Nome Completo:</strong> <%= usuario.nome %></p>
                    
                    <!-- Endereço -->
                    <p><strong>Endereço:</strong> <%= usuario.endereco %></p>
                    
                    <!-- Contato (telefone ou email) -->
                    <p><strong>Contato:</strong> <%= usuario.contato %></p>
                    
                    <!-- Tipo de Exame -->
                    <p><strong>Tipo de Exame:</strong> <%= usuario.tipoExame %></p>
                    
                    <!-- Data de entrada do cadastramento -->
                    <p><strong>Data de Entrada:</strong> <%= usuario.dataEntrada %></p>
                    
                    <!-- Previsão para realização do exame -->
                    <p><strong>Previsão de Realização do Exame:</strong> <%= usuario.previsaoExame %></p>
                </div>
            <a href="/editar" class="edit-button">Editar Informações</a>
        </div>
    </div>

    <script src="/javascripts/script.js"></script> <!-- JS comum -->
</body>
</html>
